{% extends 'base.html' %}

{% block content %}

{% for post in filtered_posts %}

<section class="caviar-about-us-area section-padding-150" id="about">
        <div class="container">
            <!-- About Us Single Area -->
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <div class="about-us-thumbnail wow fadeInUp" data-wow-delay="0.5s">
                        <img height="300px" width="500px" src="{{ post.images.first.get_absolute_image_url }}" alt="">
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5 ml-md-auto">
                    <div class="section-heading">
                        <a href="{% url 'post_detail' post.id %}"><h2>{{ post.title }}</h2></a>
                    </div>
                    <div class="about-us-content">
                        <p>{{ post.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    <hr>

</section>

{% endfor %}


{% endblock %}
