<!DOCTYPE html>
{% load static %}
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Yoga Studio Template">
    <meta name="keywords" content="Yoga, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css"/>
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/slicknav.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    {% block title %}
    {% endblock %}
</head>

<body>

<!-- Header Section Begin -->
<header class="header-section">
    <div class="container">
        <form class="form-inline my-2 my-lg-0" action="">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="logo">
            <a href="{% url 'post_list' %}"><img src="{% static 'img/logo.png' %}" alt=""></a>
        </div>
        <div class="nav-menu">
            <nav class="main-menu mobile-menu">
                <ul>
                    <li><a href="{% url 'post_list' %}">Home</a></li>
                    <li><a href="{% url 'categories_list' %}">Categories</a></li>
                    <li><a href="{% url 'best_of_list' %}">Best Of</a></li>

                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'cabinet' %}">Profile</a></li>
                    {% endif %}
                    {% if request.user.is_authenticated %}
                        <li><a href="{% url 'post_new' %}">New post</a></li>
                        <li><a href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <li><a href="{% url 'login' %}">Login</a></li>
                        <li><a href="{% url 'register' %}">Signup</a></li>
                    {% endif %}

                </ul>
            </nav>
        </div>

        <div id="mobile-menu-wrap"></div>

    </div>
</header>



{% block content %}

{% endblock %}


<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/bootstrap.min.js"></script>
<script src="static/js/jquery.slicknav.js"></script>
<script src="static/js/jquery.nice-select.min.js"></script>
<script src="static/js/mixitup.min.js"></script>
<script src="static/js/main.js"></script>
</body>

</html>